 
 <div class="navbar navbar-default navbar-static-top" role="navigation"> 
	<div class="navbar-inner"> 

            <div class="container">
                <a class="navbar-brand" href="#home">Principal</a>

                <div id="header-alert" class="alert alert-success col-md-7 navbar-button" style="display:none;"></div>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.email}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="logout-link" href="#" data-bypass>Salir</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
   	</div> 
</div> 