<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Ingrese aquí</h1>
            <div class="account-wall">
                <form class="form-signin" id="login-form">
                    <input type="text"  name="mail" id="login-mail-input" class="form-control" placeholder="Email" required="" autofocus parsley-required="true" />
                    <input type="password" name="password" id="login-password-input" class="form-control" placeholder="Clave" required="" />
                    <button id="login-btn" class="btn btn-lg btn-primary btn-block" >Ingresar</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" name="remember" value="remember-me"/>
                        Recordarme
                    </label>
                    <a href="#" class="pull-right need-help">¿Necesita ayuda? </a><span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Crear una cuenta </a>
        </div>
    </div>
</div>