@import 'open-color';

body {
  font: 16px -apple-system, BlinkMacSystemFont, Lato, Arial, sans-serif;
  margin: 0;
  padding: 1.5em;
}

h1 {
  font-size: 2.6em;
  font-weight: 100;
  margin: 0 0 0.6em 0;
  color: $oc-gray-8;
}

h2 {
  font-size: 2.6em;
  font-weight: 100;
  margin: 0.6em 0;
  color: $oc-gray-6;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0.75em 0;
  color: $oc-gray-8;
}

p {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6;
  
  strong {
    font-weight: 400;
    color: $oc-gray-8;
  }
  
  small {
    font-size: 0.8em;
    color: $oc-gray-6;
  }
}

nav {
  padding-bottom: 25px;
  border-bottom: solid 1px $oc-gray-3;
  margin-bottom: 25px;
  
  a {
    text-decoration: none;
    color: $oc-blue-5;
    font-weight: 300;
    font-size: 1em;
    display: inline-block;
    margin-right: 10px;
  }
}

article {
  margin: 25px 0;
  padding: 5px 20px;
  border-radius: 6px;
  background: $oc-gray-0;
  
  h3 {
    text-transform: capitalize;
  }
  
  p {
    color: $oc-gray-6;
  }
}